body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: 0 auto;
    padding: 20px; /* Optional: Padding inside the container */

}


nav {
    border-top: 0.5px solid #333;
    border-bottom: 0.5px solid #333;
    
}

.nav-list {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.nav-list li {
float:center;
display: inline-block;

}

.nav-list li a {
    color: rgb(153, 10, 10);
    text-align: center;

    padding: 5px 8px;
}

.nav-list li a:hover {
    background-color: #eff0f1d3;
}


.nav-list li a.active {
    background-color: #4CAF50; /* Green background for the active link */
    color: rgb(179, 22, 22);}